.product {
    background-color: #1d263b;
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 325px;   
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }
    h2 {
        margin: 15px 0 5px 0; 
        padding-top: 8px;
        border-top: 1px solid rgb(192, 192, 192);
    }
    p {
        margin: 0px 0px 22px 0;
        padding-bottom: 8px;
        border-bottom: 1px solid rgb(192, 192, 192);
    }
}

.product.active {
    box-shadow: 0 0 5px rgb(188, 255, 255);}

.product:hover {
    box-shadow: 0 0 2px white;}


.buttons {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #2d3855;
    cursor: pointer; 
    font-weight: 600;

}       

.add {
    background-color: #00d37a;
    color: white;
}

.add:hover {
    background-color: #00b86b;
}

.remove {
    background-color: #ff4d4d;
    color: white;
}
.remove:hover {
    background-color: #ff3333;
}


@media screen and (min-width: 840px) {
    .product {
        background-color: #1d263b;
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin: 10px;
        padding: 10px;
        color: white;
        border-radius: 5px;
        width: 250px;   
        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 5px;
        }
        h2 {
            font-size: small;
            margin: 15px 0 5px 0; 
            padding-top: 8px;
            border-top: 1px solid rgb(192, 192, 192);
        }
        p {
            margin: 0px 0px 22px 0;
            padding-bottom: 8px;
            border-bottom: 1px solid rgb(192, 192, 192);
        }
    }

    button {
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        width: 100%;
        background-color: #2d3855;
        cursor: pointer; 
        font-weight:600;
        font-size: 10px;
    
    } 
}
